html,
head,
body {
    height: 100%;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
    font-family: Segoe MDL2 Assets;
}

.z_dialog {
    z-index: 10000;
}

.tooltip {
    position: relative;
    /* display: inline-block; */
}

.menubar {
    z-index: 9999;
}

.tooltip .tooltiptext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    visibility: hidden;
    width: 200px;
    background-color: rgb(158, 158, 158);
    color: #fff;
    text-align: left;
    border-radius: 4px;
    padding: 0 2px;

    /* Position the tooltip */
    position: absolute;

    top: 40px;
    left: 10px;

    z-index: 10000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.svg_blue {
    filter: invert(55%) sepia(69%) saturate(4072%) hue-rotate(186deg) brightness(93%) contrast(93%);
}

.svg_red {
    filter: invert(19%) sepia(75%) saturate(2351%) hue-rotate(344deg) brightness(120%) contrast(108%);
}

.svg_grey {
    filter: invert(29%) sepia(94%) saturate(0%) hue-rotate(192deg) brightness(91%) contrast(87%);
}

.leaflet-div-icon .marker_no_bg {
    background: none;
    border: none;
}

.marker_no_bg img {
    width: 32px;
    height: 32px;
}