html,
head,
body {
    height: 100%;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
    font-family: Segoe MDL2 Assets;
}

.z_dialog {
    z-index: 10000;
}

.tooltip {
    position: relative;
    /* display: inline-block; */
}

.menubar {
    z-index: 9999;
}

.tooltip .tooltiptext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    visibility: hidden;
    width: 200px;
    background-color: rgb(158, 158, 158);
    color: #fff;
    text-align: left;
    border-radius: 4px;
    padding: 0 2px;

    /* Position the tooltip */
    position: absolute;

    top: 40px;
    left: 10px;

    z-index: 10000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.svg_blue {
    filter: invert(10%) sepia(75%) saturate(6961%) hue-rotate(245deg) brightness(101%) contrast(155%);
}

.svg_red {
    filter: invert(17%) sepia(99%) saturate(5287%) hue-rotate(359deg) brightness(103%) contrast(124%);
}

.svg_grey {
    filter: invert(29%) sepia(94%) saturate(0%) hue-rotate(192deg) brightness(91%) contrast(87%);
}

.leaflet-div-icon .marker_no_bg {
    background: none;
    border: none;
}

.marker_no_bg img {
    width: 32px;
    height: 32px;
}

.dropdown {}

.dropdown-content {
    z-index: 9999;
}

.dropdown:hover .dropdown-content {
    display: flex;
}